.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    background-color: lightgray;
    height: 50px;
}

#welcome-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.right-button {
    margin-left: auto;
    padding: 10px;
    border-radius: 10px;
    border: solid grey 1px;
}

article {
    float: left;
    padding: 20px;
    width: 80%;
    background-color: #f1f1f1;
    min-height: calc(100vh - 110px);
  }

