<app-alert #alertComponent></app-alert>

<div class="modal-backdrop" *ngIf="isFormVisible">
<div class="form modal">
    <form (submit)="onSubmit()">
      <div class="div-text">    
        <label class="main-text">{{addEditHeader}}</label>
      </div>
      <div class="labelinput">
        <label for="testingname">Назва:</label>
        <input type="text" id="testingname" [(ngModel)]="testingname" name="testingname">
      </div>
      
      <div class="labelinput">
        <label for="testingtime">Час</label>
        <input type="text" id="testingtime" [(ngModel)]="testingtime" name="testingtime">
      </div>

      <div class="buttons">
        <button appButtonStyle (click)="closeForm()">Скасувати</button>
        <button appButtonStyle type="submit">{{addEditButton}}</button>
      </div>
      
    </form>
  </div>
</div>
  